# 작업형 2유형
- 제2유형 작업은 데이터분석을 수행하고 그결과를 도출하는 것이다.  
- 분석 데이터셋을 탐색하고, 데이터를 학습하여 분석 모델을 만들고 성능을 평가한다. 
- 학습유형에 따라 지도학습, 비지도학습 등으로 구분되며, 각 유형에 따라 다양한 분석모델을 활용하느 작업에 익숙해져야 한다.

#### 빅데이터 분석 과정
- 필요 패키지 임포트 -> 데이터 불러오기 -> 데이터 살펴보기  
데이터 전처리 -> 분석 데이터 셋 준비 -> 데이터 분석 수행 -> 성능평가 및 시각화

In [1]:
# 필요 패키지 임포트
import numpy as np
import pandas as pd
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# 데이터 불러오기
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

# 데이터 살펴보기
df              # 데이터프레임 전체 살펴보기
df.shape        # 데이터프레임 열과 행의 수를 출력
df.info()       # 데이터프레임 요약정보 출력
df.describe()   # 데이터프레임 기술통계 출력

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
# 데이터 전처리
## 텍스트로 되어 있는 species 컬럼의 데이터를 0, 1, 2로 변환한다.
df['species'].replace({'setosa':0, 'versicolor':1, 'virginica':2,}, inplace=True)
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [6]:
# 분석 데이터셋 준비 
## X는 독립변수(설명변수), y는 종속변수(목표변수)
X = df[['sepal_length','sepal_width','petal_length','petal_width']]
y = df['species']

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=11)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120,)
(30,)