## 1.기출문제 (빅분기 실기 2회)

#### 1-1. 
데이터 전처리 단계에서 발견하는 값으로 관측된 데이터 범위에서 많이 벗어나 있는 아주 작거나 아주 큰 값으로 정상 범위를 벗어난 값을 의미하는 것은 무엇인가?

#### 1-2. 
정답지, label이 없다, 대표적분석에 군집분석, 연관분석 등이 있다. 해당 기법을 뭐라하는가?

#### 1-3.
모델을 생성시 사용자가 직접 변경/설정해 주어야하는 것은 무엇인가?

#### 1-4.
결측값을 대치 하는 방법 중 평균값을 사용해 대치하는 방법은?

#### 1-5.
모델의 학습에서는 정확도가 높게 나오지만 테스트 셋에서는 정확도가 낮게 나오는 것을 무엇이라하는가?

#### 1-6.
변수 선택 방법 중 모든 변수를 활용해 하나씩 제거해 가는 방법은?

#### 1-7. 
모델 학습시 잘못된 결과에 대해 가중치를 반영해 모델을 생성하는 방법?

#### 1-8. 
TPR , FPR 로 그려서 확인하는 곡선은?

#### 1-9.
마지막 은닉층 2개의 값이 [0.2, -0.3]이고,  가중치가 [0.3, 0.1]이다. bias -0.05, 출력층 노드가 1개 이고, f(x) = x , if x >= 0, 그외 -1 일때 출력값은 무엇인가?

#### 1-10.
앙상블 기법의 한 가지 종류로 회귀, 분류 모델에 사용되며, 약학습기 여러 개를 사용하는 부스팅 알고리즘에 속한다. 가중치 업데이트를 경사하강법을 이용해 최적화된 결과를 얻는 알고리즘이다.

## 2.기출문제 (빅분기 실기 2회)

In [ ]:
!git clone https://github.com/Soyoung-Yoon/bigdata

#### 2-1. 보스턴 데이터
보스턴 데이터 범죄율 컬럼('CRIM')의 top10 중 10번째 범죄율 값으로 1~10위의 범죄율 값을 변경 후, 'AGE' 변수의 값이 80이상인 것에 대한 범죄율 평균을 산출하라.

In [ ]:
from sklearn.datasets import load_boston
import pandas as pd
boston = load_boston()
df = pd.DataFrame(boston.data, columns = boston.feature_names)
df.head(2)

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO      B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.9   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.9   9.14

[2 rows x 13 columns]

In [ ]:
a = df.solt_values('CRIM', ascending=False)
a.iloc[:10,0] = a.iloc[9,0]
a.head(11)

#### 2-2. 하우징 데이터
- housing.csv 파일을 사용한다
- 주어진 데이터의 첫번째 행 부터 순서대로 80% 까지의 데이터를 추출 후 'total_bedrooms' 변수의 결측값(NA)을 'total_bedrooms' 변수의 중앙값으로 대체하고,
- 대체 전의 'total_bedrooms' 변수 표준편차값과 대체 후의 'total_bedrooms' 변수 표준편차 값을 산출하여
- 대체 전 표준편차 값 - 대체 후 표준편차 값을 구해 출력한다.

In [9]:
import pandas as pd
pd.set_option('chained_assignment', None)
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv') # 20640
df8 = df.iloc[:int(20640*0.8),:] # 16512
before =  df8['total_bedrooms'].std(ddof=1)
df8['total_bedrooms'] = df8['total_bedrooms'].fillna(df8['total_bedrooms'].median())
after = df8['total_bedrooms'].std(ddof=1)
print(before - after)

1.9751472916456692

In [23]:
import pandas as pd
pd.set_option('chained_assignment', None)
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')
# len(df)*0.8 # 16512.0
df8 = df.iloc[:16512,:]
# print(df8.tail())

before = df8['total_bedrooms'].std(ddof=1)
df8['total_bedrooms'] = df8['total_bedrooms'].fillna(df8['total_bedrooms'].median())
after = df8['total_bedrooms'].std(ddof=1)
print(before - after)

1.9751472916456692

#### 2-3. 하우징 데이터 
- 'https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv' 파일을 사용한다
- 하우징 데이터에서 'latitude' 컬럼의 이상치를 찾아 이상치들의 합을 산출하시오.
- 이상치 기준 : 평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [22]:
import pandas as pd
pd.set_option('chained_assignment', None)
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')

target = df['latitude']
dfmean = target.mean()
dfstd = target.std(ddof=1)
lowwer = dfmean-(dfstd*1.5)
upper = dfmean+(dfstd*1.5)
a = df.loc[df['latitude']<lowwer,'latitude'].sum()
b = df.loc[df['latitude']>upper,'latitude'].sum()
print(a+b)

45815.75

평균 - (표준편차 * 1.5), 평균 + (표준편차 * 1.5)

In [30]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/housing.csv')

target = df['latitude']
t_std = target.std(ddof=1)
t_mean = target.mean()
lowwer, upper = t_mean-(t_std*1.5), t_mean+(t_std*1.5)
print(t_std, t_mean)
print(lowwer, upper)

print(target[(target<lowwer)|(target>upper)].sum())

2.1359523974571153 35.63186143410853
32.42793283792285 38.835790030294206
45815.75

## 3.기출문제 (빅분기 실기 2회)
- 고객 구매 데이터를 사용해서 고객이 주문한 물품이 제 시간에 도착여부(Reached.on.Time_Y.N) 예측
- X_train.csv, y_train.csv : 학습 및 학습평가에 사용하는 파일
- X_test.csv : 제출용 데이터 생성에 사용하는 파일
- roc_score를 사용하여 평가
- 아래의 형식으로 submission수험번호.csv 로 저장
- Reached.on.Time_Y.N은 제 시간에 도착할 확률
        ID,Reached.on.Time_Y.N
        7007,0.27419354838709675
        9793,0.4883720930232558
        6593,0.48174157303370785
        10527,0.3657243816254417

### 3-01.문제이해

In [ ]:
# https://www.kaggle.com/prachi13/customer-analytics?select=Train.csv
# 기출에서 기억나는 것
# - 컬럼 중 1개가 숫자형으로 안내 되었는데 info() 결과 object로 표시됨
# - head() 로 해서 표시되지 않았음 
# - value가 '1', '*7', '4', '9', '*7' 이렇게 되어 있어서 '*'을 제거하고 dtype을 변경해야함

In [30]:
import pandas as pd
# 이상한 것 확인
df = pd.DataFrame({'rating': ['1', '2', '4', '*7', '8', '*7', '3', '5', '2', '*4']})

# df.info()
# df.rating

df['rating'] = df.rating.str.replace('\*', '', regex=True)
df.rating.astype('int')

0    1
1    2
2    4
3    7
4    8
5    7
6    3
7    5
8    2
9    4
Name: rating, dtype: int64

In [ ]:
# 해결 방법

### 3-02.데이터 불러오기, 탐색

***pandas의 출력 설정 옵션 다시 확인하세요!***

In [31]:
# [0] 사용 라이브러리 import
import pandas as pd
pd.set_option('chained_assignment', None)

# # 데이타가 많은경우 모두 출력 안되고 ... 으로 생략해서 출력됨.
# pd.set_option('display.max_rows',500)    #출력할 max row를 지정
# pd.set_option('display.max_columns',20)  #출력할 max columns를 지정
# #출력 format 지정 - 소수점아래 4자리까지
# pd.set_option('display.float_format', '{:.4f}'.format)

In [66]:
# [0] x_train, x_test 데이터로 생성함
# 이 부분은 시험에서는 없습니다. 그냥 데이터를 3개로 나누기 위해 사용한 것입니다.
from sklearn.model_selection import train_test_split

dftot = pd.read_csv('https://raw.githubusercontent.com/Soyoung-Yoon/bigdata/main/1st_Train.csv')
x_train, x_test = train_test_split(dftot, test_size=0.4, stratify=dftot['Reached.on.Time_Y.N'], random_state=0)
y_train = x_train[['Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')
y_test = x_test[['Reached.on.Time_Y.N']]   # 이것은 시험에서는 제공되지 않음
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('x_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
x_test.to_csv('x_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False) # 이것은 시험에서는 제공되지 않음

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
7006,7007,C,Ship,4,1,238,3,high,F,4,4910
9792,9793,D,Ship,4,2,245,3,medium,M,1,4731
6592,6593,C,Flight,7,4,272,4,low,M,3,1805
10526,10527,A,Road,4,1,204,6,low,M,1,4943
6913,6914,F,Ship,5,5,256,5,medium,M,2,1693

In [34]:
x_train.shape, y_train.shape, x_test.shape
y_sub_read = pd.read_csv('y_test.csv')

In [64]:
# 여기에 문제를 풀이해 보세요!
import pandas as pd

X_read = pd.read_csv('x_train.csv')
X_sub_read = pd.read_csv('x_test.csv')
y_read = pd.read_csv('y_train.csv')
# print(X_read.shape, X_sub_read.shape, y_read.shape) (6599, 11) (4400, 11) (6599, 1)

print(X_sub_read.head())

dfx = pd.concat([X_read, X_sub_read], axis=0, ignore_index=True)
y = y_read['Reached.on.Time_Y.N']   # Reached.on.Time_Y.N
# print(dfx.shape, y.shape) # (10999, 11) (6599,)


# dfx.info() # 결측치 없음, 범주형 ['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']
# dfx.head()

df_o = dfx[['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender']]
df_n = dfx.drop(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender', 'ID'], axis=1)

# print(df_n.shape, df_o.shape) #(10999, 6) (10999, 4)

# 범주형
# 라벨링
from sklearn.preprocessing import LabelEncoder, StandardScaler
df_o['Warehouse_block'] = LabelEncoder().fit_transform(df_o['Warehouse_block'])
df_o['Mode_of_Shipment'] = LabelEncoder().fit_transform(df_o['Mode_of_Shipment'])
df_o['Product_importance'] = LabelEncoder().fit_transform(df_o['Product_importance'])
df_o['Gender'] = LabelEncoder().fit_transform(df_o['Gender'])
# print(df_o.head())

# 연속형
# 이상치 # 시간나면
# 스케일링
col = df_n.columns
df_n = StandardScaler().fit_transform(df_n)
df_n = pd.DataFrame(data=df_n, columns=col)

dfx = pd.concat([df_n, df_o], axis=1)
X = dfx.iloc[:len(X_read),:]
X_sub = dfx.iloc[len(X_read):,:]
# print(X.shape, X_sub.shape, y.shape) # (6599, 10) (4400, 10) (6599,)
# print(y.unique()) # 이진분류

# 홀드아웃
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=777) 

# 모델링
from sklearn.ensemble import RandomForestClassifier
# model = RandomForestClassifier()
# model.fit(X_train, y_train)
# print(model.score(X_test, y_test))  #0.6656565656565656
# y_proba = model.predict_proba(X_test)[:,1]
# from sklearn.metrics import roc_auc_score
# roc = roc_auc_score(y_test, y_proba)
# print(roc) #0.7427193022998353

model = RandomForestClassifier()
model.fit(X, y)
y_proba = model.predict_proba(X_sub)[:,1]

pd.DataFrame({'cust_id':X_sub_read.ID, 'gender':y_proba}).to_csv('006005011.csv', index=False)


check = pd.read_csv('006005011.csv')
print(check.head(10))

      ID Warehouse_block Mode_of_Shipment  Customer_care_calls  \
0   7007               C             Ship                    4
1   9793               D             Ship                    4
2   6593               C           Flight                    7
3  10527               A             Road                    4
4   6914               F             Ship                    5

   Customer_rating  Cost_of_the_Product  Prior_purchases Product_importance  \
0                1                  238                3               high
1                2                  245                3             medium
2                4                  272                4                low
3                1                  204                6                low
4                5                  256                5             medium

  Gender  Discount_offered  Weight_in_gms
0      F                 4           4910
1      M                 1           4731
2      M                 3           1805
3      M                 1           4943
4      M                 2           1693
   cust_id  gender
0     7007    0.37
1     9793    0.50
2     6593    0.45
3    10527    0.38
4     6914    0.43
5     7503    0.57
6     3861    0.39
7     7173    0.56
8    10721    0.45
9     2448    0.98