PART 03 R 분석

> CHAPTER 04 모의고사
> >SECTION 02 모의고사 작업형 2회
> > >**01 제1유형**

In [1]:
# 본 도서는 구글 코랩 환경을 기준으로 하고 있습니다.
library(dplyr)

# 제공된 파일 불러오기(업로드 방법에 대한 내용은 CHAPTER01-SECTION02 참고)
df = read.csv(file = "./sample_data/HR-Employee-Attrition.csv")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
df

     Age Attrition BusinessTravel    DailyRate Department
1    41  Yes       Travel_Rarely     1102      Sales
2    49  No        Travel_Frequently  279      Research & Development
3    37  Yes       Travel_Rarely     1373      Research & Development
4    33  No        Travel_Frequently 1392      Research & Development
5    27  No        Travel_Rarely      591      Research & Development
6    32  No        Travel_Frequently 1005      Research & Development
7    59  No        Travel_Rarely     1324      Research & Development
8    30  No        Travel_Rarely     1358      Research & Development
9    38  No        Travel_Frequently  216      Research & Development
10   36  No        Travel_Rarely     1299      Research & Development
11   35  No        Travel_Rarely      809      Research & Development
12   29  No        Travel_Rarely      153      Research & Development
13   31  No        Travel_Rarely      670      Research & Development
14   34  No        Travel_Rarely     1346      Research & Development
15   28  Yes       Travel_Rarely      103      Research & Development
16   29  No        Travel_Rarely     1389      Research & Development
17   32  No        Travel_Rarely      334      Research & Development
18   22  No        Non-Travel        1123      Research & Development
19   53  No        Travel_Rarely     1219      Sales
20   38  No        Travel_Rarely      371      Research & Development
21   24  No        Non-Travel         673      Research & Development
22   36  Yes       Travel_Rarely     1218      Sales
23   34  No        Travel_Rarely      419      Research & Development
24   21  No        Travel_Rarely      391      Research & Development
25   34  Yes       Travel_Rarely      699      Research & Development
26   53  No        Travel_Rarely     1282      Research & Development
27   32  Yes       Travel_Frequently 1125      Research & Development
28   42  No        Travel_Rarely      691      Sales
29   44  No        Travel_Rarely      477      Research & Development
30   46  No        Travel_Rarely      705      Sales
⋮    ⋮   ⋮         ⋮                 ⋮         ⋮
1441 36  No        Travel_Frequently  688      Research & Development
1442 56  No        Non-Travel         667      Research & Development
1443 29  Yes       Travel_Rarely     1092      Research & Development
1444 42  No        Travel_Rarely      300      Research & Development
1445 56  Yes       Travel_Rarely      310      Research & Development
1446 41  No        Travel_Rarely      582      Research & Development
1447 34  No        Travel_Rarely      704      Sales
1448 36  No        Non-Travel         301      Sales
1449 41  No        Travel_Rarely      930      Sales
1450 32  No        Travel_Rarely      529      Research & Development
1451 35  No        Travel_Rarely     1146      Human Resources
1452 38  No        Travel_Rarely      345      Sales
1453 50  Yes       Travel_Frequently  878      Sales
1454 36  No        Travel_Rarely     1120      Sales
1455 45  No        Travel_Rarely      374      Sales
1456 40  No        Travel_Rarely     1322      Research & Development
1457 35  No        Travel_Frequently 1199      Research & Development
1458 40  No        Travel_Rarely     1194      Research & Development
1459 35  No        Travel_Rarely      287      Research & Development
1460 29  No        Travel_Rarely     1378      Research & Development
1461 29  No        Travel_Rarely      468      Research & Development
1462 50  Yes       Travel_Rarely      410      Sales
1463 39  No        Travel_Rarely      722      Sales
1464 31  No        Non-Travel         325      Research & Development
1465 26  No        Travel_Rarely     1167      Sales
1466 36  No        Travel_Frequently  884      Research & Development
1467 39  No        Travel_Rarely      613      Research & Development
1468 27  No        Travel_Rarely      155      Research & Development
1469 49  No        Travel_Frequently 1023      Sales
1470 34  No        Travel_Rarely      628      Research & Development
     DistanceFromHome Education EducationField   EmployeeCount EmployeeNumber ⋯
1     1               2         Life Sciences    1              1             ⋯
2     8               1         Life Sciences    1              2             ⋯
3     2               2         Other            1              4             ⋯
4     3               4         Life Sciences    1              5             ⋯
5     2               1         Medical          1              7             ⋯
6     2               2         Life Sciences    1              8             ⋯
7     3               3         Medical          1             10             ⋯
8    24               1         Life Sciences    1             11             ⋯
9    23               3         Life Sciences    1             12             ⋯
10   27               3         Medical          1             13             ⋯
11   16               3         Medical          1             14             ⋯
12   15               2         Life Sciences    1             15             ⋯
13   26               1         Life Sciences    1             16             ⋯
14   19               2         Medical          1             18             ⋯
15   24               3         Life Sciences    1             19             ⋯
16   21               4         Life Sciences    1             20             ⋯
17    5               2         Life Sciences    1             21             ⋯
18   16               2         Medical          1             22             ⋯
19    2               4         Life Sciences    1             23             ⋯
20    2               3         Life Sciences    1             24             ⋯
21   11               2         Other            1             26             ⋯
22    9               4         Life Sciences    1             27             ⋯
23    7               4         Life Sciences    1             28             ⋯
24   15               2         Life Sciences    1             30             ⋯
25    6               1         Medical          1             31             ⋯
26    5               3         Other            1             32             ⋯
27   16               1         Life Sciences    1             33             ⋯
28    8               4         Marketing        1             35             ⋯
29    7               4         Medical          1             36             ⋯
30    2               4         Marketing        1             38             ⋯
⋮    ⋮                ⋮         ⋮                ⋮             ⋮              ⋱
1441  4               2         Life Sciences    1             2025           ⋯
1442  1               4         Life Sciences    1             2026           ⋯
1443  1               4         Medical          1             2027           ⋯
1444  2               3         Life Sciences    1             2031           ⋯
1445  7               2         Technical Degree 1             2032           ⋯
1446 28               4         Life Sciences    1             2034           ⋯
1447 28               3         Marketing        1             2035           ⋯
1448 15               4         Marketing        1             2036           ⋯
1449  3               3         Life Sciences    1             2037           ⋯
1450  2               3         Technical Degree 1             2038           ⋯
1451 26               4         Life Sciences    1             2040           ⋯
1452 10               2         Life Sciences    1             2041           ⋯
1453  1               4         Life Sciences    1             2044           ⋯
1454 11               4         Marketing        1             2045           ⋯
1455 20               3         Life Sciences    1             2046           ⋯
1456  2               4         Life Sciences    1             2048           ⋯
1457 18               4         Life Sciences    1             2049           ⋯
1458  2               4         Medical          1             2051           ⋯
1459  1               4         Life Sciences    1             2052           ⋯
1460 13               2         Other            1             2053           ⋯
1461 28               4         Medical          1             2054           ⋯
1462 28               3         Marketing        1             2055           ⋯
1463 24               1         Marketing        1             2056           ⋯
1464  5               3         Medical          1             2057           ⋯
1465  5               3         Other            1             2060           ⋯
1466 23               2         Medical          1             2061           ⋯
1467  6               1         Medical          1             2062           ⋯
1468  4               3         Life Sciences    1             2064           ⋯
1469  2               3         Medical          1             2065           ⋯
1470  8               3         Medical          1             2068           ⋯
     RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1    1                        80            0                 8
2    4                        80            1                10
3    2                        80            0                 7
4    3                        80            0                 8
5    4                        80            1                 6
6    3                        80            0                 8
7    1                        80            3                12
8    2                        80            1                 1
9    2                        80            0                10
10   2                        80            2                17
11   3                        80            1                 6
12   4                        80            0                10
13   4                        80            1                 5
14   3                        80            1                 3
15   2                        80            0                 6
16   3                        80            1                10
17   4                        80            2                 7
18   2                        80            2                 1
19   3                        80            0                31
20   3                        80            0                 6
21   4                        80            1                 5
22   2                        80            0                10
23   3                        80            0                13
24   4                        80            0                 0
25   3                        80            0                 8
26   4                        80            1                26
27   2                        80            0                10
28   4                        80            1                10
29   4                        80            1                24
30   4                        80            0                22
⋮    ⋮                        ⋮             ⋮                ⋮
1441 2                        80            3                18
1442 1                        80            1                13
1443 2                        80            3                 4
1444 1                        80            0                24
1445 4                        80            1                14
1446 3                        80            1                21
1447 4                        80            2                 8
1448 1                        80            1                15
1449 3                        80            1                14
1450 4                        80            0                 4
1451 3                        80            0                 9
1452 3                        80            1                10
1453 4                        80            2                12
1454 1                        80            1                 8
1455 3                        80            0                 8
1456 4                        80            0                 8
1457 4                        80            2                10
1458 2                        80            3                20
1459 4                        80            1                 4
1460 1                        80            1                10
1461 2                        80            0                 5
1462 2                        80            1                20
1463 1                        80            1                21
1464 2                        80            0                10
1465 4                        80            0                 5
1466 3                        80            1                17
1467 1                        80            1                 9
1468 2                        80            1                 6
1469 4                        80            0                17
1470 1                        80            0                 6
     TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1    0                     1                6              4
2    3                     3               10              7
3    3                     3                0              0
4    3                     3                8              7
5    3                     3                2              2
6    2                     2                7              7
7    3                     2                1              0
8    2                     3                1              0
9    2                     3                9              7
10   3                     2                7              7
11   5                     3                5              4
12   3                     3                9              5
13   1                     2                5              2
14   2                     3                2              2
15   4                     3                4              2
16   1                     3               10              9
17   5                     2                6              2
18   2                     2                1              0
19   3                     3               25              8
20   3                     3                3              2
21   5                     2                4              2
22   4                     3                5              3
23   4                     3               12              6
24   6                     3                0              0
25   2                     3                4              2
26   3                     2               14             13
27   5                     3               10              2
28   2                     3                9              7
29   4                     3               22              6
30   2                     2                2              2
⋮    ⋮                     ⋮               ⋮              ⋮
1441 3                     3                4              2
1442 2                     2               13             12
1443 3                     4                2              2
1444 2                     2               22              6
1445 4                     1               10              9
1446 3                     3               20              7
1447 2                     3                8              7
1448 4                     2               15             12
1449 5                     3                5              4
1450 4                     3                4              2
1451 2                     3                9              0
1452 1                     3               10              7
1453 3                     3                6              3
1454 2                     2                6              3
1455 3                     3                5              3
1456 2                     3                2              2
1457 2                     4               10              2
1458 2                     3                5              3
1459 5                     3                4              3
1460 2                     3                4              3
1461 3                     1                5              4
1462 3                     3                3              2
1463 2                     2               20              9
1464 2                     3                9              4
1465 2                     3                4              2
1466 3                     3                5              2
1467 5                     3                7              7
1468 0                     3                6              2
1469 3                     2                9              6
1470 3                     4                4              3
     YearsSinceLastPromotion YearsWithCurrManager
1    0                        5
2    1                        7
3    0                        0
4    3                        0
5    2                        2
6    3                        6
7    0                        0
8    0                        0
9    1                        8
10   7                        7
11   0                        3
12   0                        8
13   4                        3
14   1                        2
15   0                        3
16   8                        8
17   0                        5
18   0                        0
19   3                        7
20   1                        2
21   1                        3
22   0                        3
23   2                       11
24   0                        0
25   1                        3
26   4                        8
27   6                        7
28   4                        2
29   5                       17
30   2                        1
⋮    ⋮                       ⋮
1441  0                       2
1442  1                       9
1443  2                       2
1444  4                      14
1445  9                       8
1446  0                      10
1447  1                       7
1448 11                      11
1449  0                       4
1450  1                       2
1451  1                       7
1452  1                       9
1453  0                       1
1454  0                       0
1455  0                       1
1456  2                       2
1457  0                       2
1458  0                       2
1459  1                       1
1460  0                       3
1461  0                       4
1462  2                       0
1463  9                       6
1464  1                       7
1465  0                       0
1466  0                       3
1467  1                       7
1468  0                       3
1469  0                       8
1470  1                       2

In [3]:
# Attrition_numerical 변수에 0과 1로 변환된 값을 저장
df$Attrition <- ifelse(df$Attrition == "Yes", 1, 0)
table(df$Attrition)

   0    1
1233  237

In [4]:
str(df)

'data.frame':	1470 obs. of  35 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : num  1 0 1 0 0 0 0 0 0 0 ...
 $ BusinessTravel          : chr  "Travel_Rarely" "Travel_Frequently" "Travel_Rarely" "Travel_Frequently" ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ Department              : chr  "Sales" "Research & Development" "Research & Development" "Research & Development" ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EducationField          : chr  "Life Sciences" "Life Sciences" "Other" "Life Sciences" ...
 $ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : int  2 3 4 4 1 4 3 4 4 3 ...
 $ Gender                  : chr  "Female" "Male" "Male" "Female" ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : int  3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : int  2 2 1 1 1 1 1 1 3 2 ...
 $ JobRole                 : chr  "Sales Executive" "Research Scientist" "Laboratory Technician" "Research Scientist" ...
 $ JobSatisfaction         : int  4 2 3 3 2 4 1 3 3 3 ...
 $ MaritalStatus           : chr  "Single" "Married" "Single" "Married" ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ Over18                  : chr  "Y" "Y" "Y" "Y" ...
 $ OverTime                : chr  "Yes" "No" "Yes" "Yes" ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: int  1 4 2 3 4 3 1 2 2 2 ...
 $ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
 $ StockOptionLevel        : int  0 1 0 0 1 0 3 1 0 2 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : int  1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...

In [5]:
# 컬럼의 타입별 개수 구하기
f <- c() # 빈 벡터 생성

for (i in 1:ncol(df)){
    if (mode(df[,i]) == "character"){
        f <- append(f, "chr")
    } else {
        f <- append(f, "int")
    }
}

table(f)

f
chr int
  8  27

In [6]:
table(df$EmployeeCount)
table(df$Over18)

   1
1470

   Y
1470

In [7]:
# Over18 컬럼 삭제 - 컬럼명으로 삭제
df_new <- subset(df, select = -c(Over18))

In [8]:
# 숫자(연속)형 자료형만 찾아서 데이터프레임 만들기
n <- c()
for (i in 1:ncol(df)){
    if (mode(df[,i]) != "character"){
        n <- append(n,i)
    }
}
df_number <- df[,n]

In [9]:
str(df_number)

'data.frame':	1470 obs. of  27 variables:
 $ Age                     : int  41 49 37 33 27 32 59 30 38 36 ...
 $ Attrition               : num  1 0 1 0 0 0 0 0 0 0 ...
 $ DailyRate               : int  1102 279 1373 1392 591 1005 1324 1358 216 1299 ...
 $ DistanceFromHome        : int  1 8 2 3 2 2 3 24 23 27 ...
 $ Education               : int  2 1 2 4 1 2 3 1 3 3 ...
 $ EmployeeCount           : int  1 1 1 1 1 1 1 1 1 1 ...
 $ EmployeeNumber          : int  1 2 4 5 7 8 10 11 12 13 ...
 $ EnvironmentSatisfaction : int  2 3 4 4 1 4 3 4 4 3 ...
 $ HourlyRate              : int  94 61 92 56 40 79 81 67 44 94 ...
 $ JobInvolvement          : int  3 2 2 3 3 3 4 3 2 3 ...
 $ JobLevel                : int  2 2 1 1 1 1 1 1 3 2 ...
 $ JobSatisfaction         : int  4 2 3 3 2 4 1 3 3 3 ...
 $ MonthlyIncome           : int  5993 5130 2090 2909 3468 3068 2670 2693 9526 5237 ...
 $ MonthlyRate             : int  19479 24907 2396 23159 16632 11864 9964 13335 8787 16577 ...
 $ NumCompaniesWorked      : int  8 1 6 1 9 0 4 1 0 6 ...
 $ PercentSalaryHike       : int  11 23 15 11 12 13 20 22 21 13 ...
 $ PerformanceRating       : int  3 4 3 3 3 3 4 4 4 3 ...
 $ RelationshipSatisfaction: int  1 4 2 3 4 3 1 2 2 2 ...
 $ StandardHours           : int  80 80 80 80 80 80 80 80 80 80 ...
 $ StockOptionLevel        : int  0 1 0 0 1 0 3 1 0 2 ...
 $ TotalWorkingYears       : int  8 10 7 8 6 8 12 1 10 17 ...
 $ TrainingTimesLastYear   : int  0 3 3 3 3 2 3 2 2 3 ...
 $ WorkLifeBalance         : int  1 3 3 3 3 2 2 3 3 2 ...
 $ YearsAtCompany          : int  6 10 0 8 2 7 1 1 9 7 ...
 $ YearsInCurrentRole      : int  4 7 0 7 2 7 0 0 7 7 ...
 $ YearsSinceLastPromotion : int  0 1 0 3 2 3 0 0 1 7 ...
 $ YearsWithCurrManager    : int  5 7 0 0 2 6 0 0 8 7 ...

In [10]:
# 각 컬럼의 상관계수를 구한다.
# 널값은 0으로 치환한다.
result <- cor(df_number, method = "pearson")
result[is.na(result)] <- 0

Warning message in cor(df_number, method = "pearson"):
“the standard deviation is zero”

In [11]:
result

                         Age          Attrition    DailyRate
Age                       1.000000000 -0.159205007  0.0106609426
Attrition                -0.159205007  1.000000000 -0.0566519919
DailyRate                 0.010660943 -0.056651992  1.0000000000
DistanceFromHome         -0.001686120  0.077923583 -0.0049853374
Education                 0.208033731 -0.031372820 -0.0168064332
EmployeeCount             0.000000000  0.000000000  0.0000000000
EmployeeNumber           -0.010145467 -0.010577243 -0.0509904337
EnvironmentSatisfaction   0.010146428 -0.103368978  0.0183548543
HourlyRate                0.024286543 -0.006845550  0.0233814215
JobInvolvement            0.029819959 -0.130015957  0.0461348740
JobLevel                  0.509604228 -0.169104751  0.0029663349
JobSatisfaction          -0.004891877 -0.103481126  0.0305710078
MonthlyIncome             0.497854567 -0.159839582  0.0077070589
MonthlyRate               0.028051167  0.015170213 -0.0321816015
NumCompaniesWorked        0.299634758  0.043493739  0.0381534343
PercentSalaryHike         0.003633585 -0.013478202  0.0227036775
PerformanceRating         0.001903896  0.002888752  0.0004732963
RelationshipSatisfaction  0.053534720 -0.045872279  0.0078460310
StandardHours             0.000000000  0.000000000  0.0000000000
StockOptionLevel          0.037509712 -0.137144919  0.0421427964
TotalWorkingYears         0.680380536 -0.171063246  0.0145147387
TrainingTimesLastYear    -0.019620819 -0.059477799  0.0024525427
WorkLifeBalance          -0.021490028 -0.063939047 -0.0378480510
YearsAtCompany            0.311308770 -0.134392214 -0.0340547676
YearsInCurrentRole        0.212901056 -0.160545004  0.0099320150
YearsSinceLastPromotion   0.216513368 -0.033018775 -0.0332289848
YearsWithCurrManager      0.202088602 -0.156199316 -0.0263631782
                         DistanceFromHome Education    EmployeeCount
Age                      -0.001686120      0.208033731 0
Attrition                 0.077923583     -0.031372820 0
DailyRate                -0.004985337     -0.016806433 0
DistanceFromHome          1.000000000      0.021041826 0
Education                 0.021041826      1.000000000 0
EmployeeCount             0.000000000      0.000000000 1
EmployeeNumber            0.032916407      0.042070093 0
EnvironmentSatisfaction  -0.016075327     -0.027128313 0
HourlyRate                0.031130586      0.016774829 0
JobInvolvement            0.008783280      0.042437634 0
JobLevel                  0.005302731      0.101588886 0
JobSatisfaction          -0.003668839     -0.011296117 0
MonthlyIncome            -0.017014445      0.094960677 0
MonthlyRate               0.027472864     -0.026084197 0
NumCompaniesWorked       -0.029250804      0.126316560 0
PercentSalaryHike         0.040235377     -0.011110941 0
PerformanceRating         0.027109618     -0.024538791 0
RelationshipSatisfaction  0.006557475     -0.009118377 0
StandardHours             0.000000000      0.000000000 0
StockOptionLevel          0.044871999      0.018422220 0
TotalWorkingYears         0.004628426      0.148279697 0
TrainingTimesLastYear    -0.036942234     -0.025100241 0
WorkLifeBalance          -0.026556004      0.009819189 0
YearsAtCompany            0.009507720      0.069113696 0
YearsInCurrentRole        0.018844999      0.060235554 0
YearsSinceLastPromotion   0.010028836      0.054254334 0
YearsWithCurrManager      0.014406048      0.069065378 0
                         EmployeeNumber EnvironmentSatisfaction HourlyRate
Age                      -0.010145467    0.010146428             0.024286543
Attrition                -0.010577243   -0.103368978            -0.006845550
DailyRate                -0.050990434    0.018354854             0.023381422
DistanceFromHome          0.032916407   -0.016075327             0.031130586
Education                 0.042070093   -0.027128313             0.016774829
EmployeeCount             0.000000000    0.000000000             0.000000000
EmployeeNumber            1.000000000    0.017620802             0.035179212
EnvironmentSatisfaction   0.017620802    1.000000000            -0.049856956
HourlyRate                0.035179212   -0.049856956             1.000000000
JobInvolvement           -0.006887923   -0.008277598             0.042860641
JobLevel                 -0.018519194    0.001211699            -0.027853486
JobSatisfaction          -0.046246735   -0.006784353            -0.071334624
MonthlyIncome            -0.014828516   -0.006259088            -0.015794304
MonthlyRate               0.012648229    0.037599623            -0.015296750
NumCompaniesWorked       -0.001251032    0.012594323             0.022156883
PercentSalaryHike        -0.012943996   -0.031701195            -0.009061986
PerformanceRating        -0.020358825   -0.029547952            -0.002171697
RelationshipSatisfaction -0.069861411    0.007665384             0.001330453
StandardHours             0.000000000    0.000000000             0.000000000
StockOptionLevel          0.062226693    0.003432158             0.050263399
TotalWorkingYears        -0.014365198   -0.002693070            -0.002333682
TrainingTimesLastYear     0.023603170   -0.019359308            -0.008547685
WorkLifeBalance           0.010308641    0.027627295            -0.004607234
YearsAtCompany           -0.011240464    0.001457549            -0.019581616
YearsInCurrentRole       -0.008416312    0.018007460            -0.024106220
YearsSinceLastPromotion  -0.009019064    0.016193606            -0.026715586
YearsWithCurrManager     -0.009196645   -0.004998723            -0.020123200
                         JobInvolvement ⋯ RelationshipSatisfaction
Age                       0.029819959   ⋯  0.0535347197
Attrition                -0.130015957   ⋯ -0.0458722789
DailyRate                 0.046134874   ⋯  0.0078460310
DistanceFromHome          0.008783280   ⋯  0.0065574746
Education                 0.042437634   ⋯ -0.0091183767
EmployeeCount             0.000000000   ⋯  0.0000000000
EmployeeNumber           -0.006887923   ⋯ -0.0698614115
EnvironmentSatisfaction  -0.008277598   ⋯  0.0076653835
HourlyRate                0.042860641   ⋯  0.0013304528
JobInvolvement            1.000000000   ⋯  0.0342968206
JobLevel                 -0.012629883   ⋯  0.0216415105
JobSatisfaction          -0.021475910   ⋯ -0.0124535932
MonthlyIncome            -0.015271491   ⋯  0.0258734361
MonthlyRate              -0.016322079   ⋯ -0.0040853293
NumCompaniesWorked        0.015012413   ⋯  0.0527330486
PercentSalaryHike        -0.017204572   ⋯ -0.0404900811
PerformanceRating        -0.029071333   ⋯ -0.0313514554
RelationshipSatisfaction  0.034296821   ⋯  1.0000000000
StandardHours             0.000000000   ⋯  0.0000000000
StockOptionLevel          0.021522640   ⋯ -0.0459524907
TotalWorkingYears        -0.005533182   ⋯  0.0240542918
TrainingTimesLastYear    -0.015337826   ⋯  0.0024965264
WorkLifeBalance          -0.014616593   ⋯  0.0196044057
YearsAtCompany           -0.021355427   ⋯  0.0193667869
YearsInCurrentRole        0.008716963   ⋯ -0.0151229149
YearsSinceLastPromotion  -0.024184292   ⋯  0.0334925021
YearsWithCurrManager      0.025975808   ⋯ -0.0008674968
                         StandardHours StockOptionLevel TotalWorkingYears
Age                      0              0.037509712      0.680380536
Attrition                0             -0.137144919     -0.171063246
DailyRate                0              0.042142796      0.014514739
DistanceFromHome         0              0.044871999      0.004628426
Education                0              0.018422220      0.148279697
EmployeeCount            0              0.000000000      0.000000000
EmployeeNumber           0              0.062226693     -0.014365198
EnvironmentSatisfaction  0              0.003432158     -0.002693070
HourlyRate               0              0.050263399     -0.002333682
JobInvolvement           0              0.021522640     -0.005533182
JobLevel                 0              0.013983911      0.782207805
JobSatisfaction          0              0.010690226     -0.020185073
MonthlyIncome            0              0.005407677      0.772893246
MonthlyRate              0             -0.034322830      0.026442471
NumCompaniesWorked       0              0.030075475      0.237638590
PercentSalaryHike        0              0.007527748     -0.020608488
PerformanceRating        0              0.003506472      0.006743668
RelationshipSatisfaction 0             -0.045952491      0.024054292
StandardHours            1              0.000000000      0.000000000
StockOptionLevel         0              1.000000000      0.010135969
TotalWorkingYears        0              0.010135969      1.000000000
TrainingTimesLastYear    0              0.011274070     -0.035661571
WorkLifeBalance          0              0.004128730      0.001007646
YearsAtCompany           0              0.015058008      0.628133155
YearsInCurrentRole       0              0.050817873      0.460364638
YearsSinceLastPromotion  0              0.014352185      0.404857759
YearsWithCurrManager     0              0.024698227      0.459188397
                         TrainingTimesLastYear WorkLifeBalance YearsAtCompany
Age                      -0.019620819          -0.021490028     0.311308770
Attrition                -0.059477799          -0.063939047    -0.134392214
DailyRate                 0.002452543          -0.037848051    -0.034054768
DistanceFromHome         -0.036942234          -0.026556004     0.009507720
Education                -0.025100241           0.009819189     0.069113696
EmployeeCount             0.000000000           0.000000000     0.000000000
EmployeeNumber            0.023603170           0.010308641    -0.011240464
EnvironmentSatisfaction  -0.019359308           0.027627295     0.001457549
HourlyRate               -0.008547685          -0.004607234    -0.019581616
JobInvolvement           -0.015337826          -0.014616593    -0.021355427
JobLevel                 -0.018190550           0.037817746     0.534738687
JobSatisfaction          -0.005779335          -0.019458710    -0.003802628
MonthlyIncome            -0.021736277           0.030683082     0.514284826
MonthlyRate               0.001466881           0.007963158    -0.023655107
NumCompaniesWorked       -0.066054072          -0.008365685    -0.118421340
PercentSalaryHike        -0.005221012          -0.003279636    -0.035991262
PerformanceRating        -0.015578882           0.002572361     0.003435126
RelationshipSatisfaction  0.002496526           0.019604406     0.019366787
StandardHours             0.000000000           0.000000000     0.000000000
StockOptionLevel          0.011274070           0.004128730     0.015058008
TotalWorkingYears        -0.035661571           0.001007646     0.628133155
TrainingTimesLastYear     1.000000000           0.028072207     0.003568666
WorkLifeBalance           0.028072207           1.000000000     0.012089185
YearsAtCompany            0.003568666           0.012089185     1.000000000
YearsInCurrentRole       -0.005737504           0.049856498     0.758753737
YearsSinceLastPromotion  -0.002066536           0.008941249     0.618408865
YearsWithCurrManager     -0.004095526           0.002759440     0.769212425
                         YearsInCurrentRole YearsSinceLastPromotion
Age                       0.212901056        0.216513368
Attrition                -0.160545004       -0.033018775
DailyRate                 0.009932015       -0.033228985
DistanceFromHome          0.018844999        0.010028836
Education                 0.060235554        0.054254334
EmployeeCount             0.000000000        0.000000000
EmployeeNumber           -0.008416312       -0.009019064
EnvironmentSatisfaction   0.018007460        0.016193606
HourlyRate               -0.024106220       -0.026715586
JobInvolvement            0.008716963       -0.024184292
JobLevel                  0.389446733        0.353885347
JobSatisfaction          -0.002304785       -0.018213568
MonthlyIncome             0.363817667        0.344977638
MonthlyRate              -0.012814874        0.001566800
NumCompaniesWorked       -0.090753934       -0.036813892
PercentSalaryHike        -0.001520027       -0.022154313
PerformanceRating         0.034986260        0.017896066
RelationshipSatisfaction -0.015122915        0.033492502
StandardHours             0.000000000        0.000000000
StockOptionLevel          0.050817873        0.014352185
TotalWorkingYears         0.460364638        0.404857759
TrainingTimesLastYear    -0.005737504       -0.002066536
WorkLifeBalance           0.049856498        0.008941249
YearsAtCompany            0.758753737        0.618408865
YearsInCurrentRole        1.000000000        0.548056248
YearsSinceLastPromotion   0.548056248        1.000000000
YearsWithCurrManager      0.714364762        0.510223636
                         YearsWithCurrManager
Age                       0.2020886024
Attrition                -0.1561993159
DailyRate                -0.0263631782
DistanceFromHome          0.0144060484
Education                 0.0690653783
EmployeeCount             0.0000000000
EmployeeNumber           -0.0091966453
EnvironmentSatisfaction  -0.0049987226
HourlyRate               -0.0201232002
JobInvolvement            0.0259758079
JobLevel                  0.3752806078
JobSatisfaction          -0.0276562139
MonthlyIncome             0.3440788833
MonthlyRate              -0.0367459053
NumCompaniesWorked       -0.1103191554
PercentSalaryHike        -0.0119852485
PerformanceRating         0.0228271689
RelationshipSatisfaction -0.0008674968
StandardHours             0.0000000000
StockOptionLevel          0.0246982266
TotalWorkingYears         0.4591883971
TrainingTimesLastYear    -0.0040955260
WorkLifeBalance           0.0027594402
YearsAtCompany            0.7692124251
YearsInCurrentRole        0.7143647616
YearsSinceLastPromotion   0.5102236358
YearsWithCurrManager      1.0000000000

In [12]:
# 상관계수가 0.9보다 큰 컬럼의 조합을 출력한다.
for(i in 1:27){
    for(j in 1:27){
        if((result[i,j] >= 0.9) & (i != j)){
            cat(colnames(df_number[i]), ",", colnames(df_number[j]), ":", result[i,j], "\n")
        }
    }
}

JobLevel , MonthlyIncome : 0.9502999
MonthlyIncome , JobLevel : 0.9502999

In [13]:
# df의 15번째 변수(jobLevel)을 제거한다.
df_new <- df[,-15]

>>>**02 제2유형**

In [14]:
data(iris)
str(iris)
summary(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [15]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [16]:
# 기존 데이터셋을 무작위화하여 새로운 데이터셋을 생성한다
set.seed(1234)
random <- runif(150)
iris_random <- iris[order(random),]
head(iris_random)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
7   4.6          3.4         1.4          0.3         setosa
64  6.1          2.9         4.7          1.4         versicolor
73  6.3          2.5         4.9          1.5         versicolor
98  6.2          2.9         4.3          1.3         versicolor
101 6.3          3.3         6.0          2.5         virginica
110 7.2          3.6         6.1          2.5         virginica

In [17]:
# Min-Max를 이용한 정규화 데이터를 생성
normal <- function(x) (return( (x - min(x)) / (max(x)-min(x)) ))
normal(1:5)

iris_new <- as.data.frame(lapply(iris_random[,-5], normal))
summary(iris_new)

[1] 0.00 0.25 0.50 0.75 1.00

  Sepal.Length     Sepal.Width      Petal.Length     Petal.Width
 Min.   :0.0000   Min.   :0.0000   Min.   :0.0000   Min.   :0.00000
 1st Qu.:0.2222   1st Qu.:0.3333   1st Qu.:0.1017   1st Qu.:0.08333
 Median :0.4167   Median :0.4167   Median :0.5678   Median :0.50000
 Mean   :0.4287   Mean   :0.4406   Mean   :0.4675   Mean   :0.45806
 3rd Qu.:0.5833   3rd Qu.:0.5417   3rd Qu.:0.6949   3rd Qu.:0.70833
 Max.   :1.0000   Max.   :1.0000   Max.   :1.0000   Max.   :1.00000

In [18]:
# 전체 데이터 셋 150개중 130개를 훈련세트로 나머지 20개를 테스트셋으로 생성
train <- iris_new[1:130,]
test <- iris_new[131:150,]
train_sp <- iris_random[1:130,5]
test_sp <- iris_random[131:150,5]

In [19]:
install.packages("caret")
library(caret)
library(class)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘listenv’, ‘parallelly’, ‘future’, ‘globals’, ‘future.apply’, ‘progressr’, ‘numDeriv’, ‘SQUAREM’, ‘lava’, ‘prodlim’, ‘proxy’, ‘iterators’, ‘Rcpp’, ‘gower’, ‘hardhat’, ‘ipred’, ‘timeDate’, ‘e1071’, ‘foreach’, ‘ModelMetrics’, ‘plyr’, ‘pROC’, ‘recipes’, ‘reshape2’


Loading required package: ggplot2

Loading required package: lattice

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”

In [20]:
# Class library 이용, KNN 분석결과에 대한 Table에 의한 분석결과 검증(혼돈행렬)
model <- knn(train=train, test=test, , cl=train_sp, k=10)                       # K=10
table(factor(model))
table(test_sp, model)
CM = confusionMatrix(test_sp, model)
accuracy = CM$overall[1]

    setosa versicolor  virginica
         3          6         11

            model
test_sp      setosa versicolor virginica
  setosa          3          0         0
  versicolor      0          5         0
  virginica       0          1        11

In [21]:
CM
accuracy

Confusion Matrix and Statistics

            Reference
Prediction   setosa versicolor virginica
  setosa          3          0         0
  versicolor      0          5         0
  virginica       0          1        11

Overall Statistics

               Accuracy : 0.95
                 95% CI : (0.7513, 0.9987)
    No Information Rate : 0.55
    P-Value [Acc > NIR] : 0.0001114

                  Kappa : 0.9127

 Mcnemar's Test P-Value : NA

Statistics by Class:

                     Class: setosa Class: versicolor Class: virginica
Sensitivity                   1.00            0.8333           1.0000
Specificity                   1.00            1.0000           0.8889
Pos Pred Value                1.00            1.0000           0.9167
Neg Pred Value                1.00            0.9333           1.0000
Prevalence                    0.15            0.3000           0.5500
Detection Rate                0.15            0.2500           0.5500
Detection Prevalence          0.15            0.2500           0.6000
Balanced Accuracy             1.00            0.9167           0.9444

Accuracy
    0.95