PART 03 R 분석

> CHAPTER 01 R 프로그래밍
> >SECTION 02 R로 데이터 다루기
> > >**01 데이터 가져오기와 내보내기**

In [50]:
df <- read.csv("sample_data/df_sample.csv")
df # 데이터프레임 보기

   학번 중간 기말 리포트 퀴즈
1  S01  90   95   20     20
2  S02  82   83   18     18
3  S03  80   78   18     18
4  S04  78   75   10     10
5  S05  93   91   12     12
6  S06  71   75   16     16
7  S07  60   80   18     18
8  S08  72   65   14     14
9  S09  65   65   14     14
10 S10  85   78   10     10

In [51]:
head(df, 3)    # df의 앞 3개 행 출력

  학번 중간 기말 리포트 퀴즈
1 S01  90   95   20     20
2 S02  82   83   18     18
3 S03  80   78   18     18

In [52]:
tail(df, 3)     # df의 뒤 3개 행 출력

   학번 중간 기말 리포트 퀴즈
8  S08  72   65   14     14
9  S09  65   65   14     14
10 S10  85   78   10     10

In [53]:
str(df)

'data.frame':	10 obs. of  5 variables:
 $ 학번  : chr  "S01" "S02" "S03" "S04" ...
 $ 중간  : int  90 82 80 78 93 71 60 72 65 85
 $ 기말  : int  95 83 78 75 91 75 80 65 65 78
 $ 리포트: int  20 18 18 10 12 16 18 14 14 10
 $ 퀴즈  : int  20 18 18 10 12 16 18 14 14 10

In [54]:
summary(df)

     학번                중간            기말           리포트
 Length:10          Min.   :60.00   Min.   :65.00   Min.   :10.0
 Class :character   1st Qu.:71.25   1st Qu.:75.00   1st Qu.:12.5
 Mode  :character   Median :79.00   Median :78.00   Median :15.0
                    Mean   :77.60   Mean   :78.50   Mean   :15.0
                    3rd Qu.:84.25   3rd Qu.:82.25   3rd Qu.:18.0
                    Max.   :93.00   Max.   :95.00   Max.   :20.0
      퀴즈
 Min.   :10.0
 1st Qu.:12.5
 Median :15.0
 Mean   :15.0
 3rd Qu.:18.0
 Max.   :20.0

In [55]:
dim(df)       # df의 차원을 출력
nrow(df)      # df의 행 개수를 출력
ncol(df)      # df의 열 개수를 출력
length(df)    # df의 길이를 출력

[1] 10  5

[1] 10

[1] 5

[1] 5

>>>**03 데이터 조작**

In [56]:
df1 <- head(df, 3)    # 데이터프레임 df의 앞 3개 행으로 df1 생성
df2 <- tail(df, 3)    # 데이터프레임 df의 뒤 3개 행으로 df2 생성
rbind(df1, df2)       # 행으로 결합
cbind(df1, df2)       # 열로 결합

   학번 중간 기말 리포트 퀴즈
1  S01  90   95   20     20
2  S02  82   83   18     18
3  S03  80   78   18     18
8  S08  72   65   14     14
9  S09  65   65   14     14
10 S10  85   78   10     10

  학번 중간 기말 리포트 퀴즈 학번 중간 기말 리포트 퀴즈
1 S01  90   95   20     20   S08  72   65   14     14
2 S02  82   83   18     18   S09  65   65   14     14
3 S03  80   78   18     18   S10  85   78   10     10

In [57]:
split(df, df$퀴즈)      # 동일한 퀴즈 점수를 가진 행들로 데이터프레임을 분리

$`10`
   학번 중간 기말 리포트 퀴즈
4   S04   78   75     10   10
10  S10   85   78     10   10

$`12`
  학번 중간 기말 리포트 퀴즈
5  S05   93   91     12   12

$`14`
  학번 중간 기말 리포트 퀴즈
8  S08   72   65     14   14
9  S09   65   65     14   14

$`16`
  학번 중간 기말 리포트 퀴즈
6  S06   71   75     16   16

$`18`
  학번 중간 기말 리포트 퀴즈
2  S02   82   83     18   18
3  S03   80   78     18   18
7  S07   60   80     18   18

$`20`
  학번 중간 기말 리포트 퀴즈
1  S01   90   95     20   20

In [58]:
# 데이터프레임 df에서 중간고사 점수가 90점 이상인 행을 선택
subset(df, 중간 >= 90, select = c("학번","중간","기말"))

  학번 중간 기말
1 S01  90   95
5 S05  93   91

In [59]:
substr(df$학번, 2, 3)       # 학번열 데이터값의 2번째 위치부터 3번째 위치까지 문자열 선택

 [1] "01" "02" "03" "04" "05" "06" "07" "08" "09" "10"

In [60]:
df1 = subset(df, TRUE, select = c("학번", "중간"))    # 학번, 중간 열의 모든 데이터 선택
df2 = subset(df, TRUE, select = c("학번", "기말"))    # 학번, 기말 열의 모든 데이터 선택
merge(df1, df2)             # 공통열(학번)을 기준으로 데이터 병합

   학번 중간 기말
1  S01  90   95
2  S02  82   83
3  S03  80   78
4  S04  78   75
5  S05  93   91
6  S06  71   75
7  S07  60   80
8  S08  72   65
9  S09  65   65
10 S10  85   78

In [61]:
sort(df$중간, decreasing = TRUE)    # TRUE는 내림차순, FALSE는 오름차순(기본값)

 [1] 93 90 85 82 80 78 72 71 65 60

In [62]:
order(df$중간, decreasing = TRUE)         # 중간 점수로 정렬했을 때의 순서(위치)를 반환
df[order(df$중간, decreasing = TRUE),]    # 중간 점수로 df를 정렬

 [1]  5  1 10  2  3  4  8  6  9  7

   학번 중간 기말 리포트 퀴즈
5  S05  93   91   12     12
1  S01  90   95   20     20
10 S10  85   78   10     10
2  S02  82   83   18     18
3  S03  80   78   18     18
4  S04  78   75   10     10
8  S08  72   65   14     14
6  S06  71   75   16     16
9  S09  65   65   14     14
7  S07  60   80   18     18

In [63]:
tapply(df$중간, df$퀴즈, mean)      # 동일한 퀴즈 점수를 가진 그룹별 중간점수의 평균 출력

  10   12   14   16   18   20
81.5 93.0 68.5 71.0 74.0 90.0

>>>**04 디플라이어(dplyr) 패키지**

In [64]:
library(dplyr)      # dplyr 패키지를 로드

In [65]:
df %>% count()      # df의 데이터를 count() 함수로 전달

  n
1 10

In [66]:
summarise(df, mean(중간), max(기말), sum(퀴즈), n())

  mean(중간) max(기말) sum(퀴즈) n()
1 77.6       95        150       10

In [67]:
class = c("1반","1반","1반","2반","2반","2반","3반","3반","3반","3반")
df = cbind(df, class)       # df에 class 열을 추가
df

   학번 중간 기말 리포트 퀴즈 class
1  S01  90   95   20     20   1반
2  S02  82   83   18     18   1반
3  S03  80   78   18     18   1반
4  S04  78   75   10     10   2반
5  S05  93   91   12     12   2반
6  S06  71   75   16     16   2반
7  S07  60   80   18     18   3반
8  S08  72   65   14     14   3반
9  S09  65   65   14     14   3반
10 S10  85   78   10     10   3반

In [68]:
group_by(df, class) %>% summarise(sum(중간), mean(중간))    # 파이프 연산자 사용

  class sum(중간) mean(중간)
1 1반   252       84.00000
2 2반   242       80.66667
3 3반   282       70.50000

In [69]:
filter(df, 중간 >= 90)      # 중간시험 점수가 90점 이상인 행 선택

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반
2 S05  93   91   12     12   2반

In [70]:
filter(df, 중간 >= 90 & class == "1반")     # 1반에서 중간시험 점수가 90점 이상인 행 출력

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반

In [71]:
distinct(df, class)     # 중복된 값을 제외한 유일 값만 선택

  class
1 1반
2 2반
3 3반

In [72]:
slice(df, 3:5)

  학번 중간 기말 리포트 퀴즈 class
1 S03  80   78   18     18   1반
2 S04  78   75   10     10   2반
3 S05  93   91   12     12   2반

In [73]:
arrange(df, 기말)       # 기말 점수를 기준으로 오름차순 정렬

   학번 중간 기말 리포트 퀴즈 class
1  S08  72   65   14     14   3반
2  S09  65   65   14     14   3반
3  S04  78   75   10     10   2반
4  S06  71   75   16     16   2반
5  S03  80   78   18     18   1반
6  S10  85   78   10     10   3반
7  S07  60   80   18     18   3반
8  S02  82   83   18     18   1반
9  S05  93   91   12     12   2반
10 S01  90   95   20     20   1반

In [74]:
add_row(df, 학번="S11", 중간=50, 기말=55, 리포트=12, 퀴즈=10)

   학번 중간 기말 리포트 퀴즈 class
1  S01  90   95   20     20   1반
2  S02  82   83   18     18   1반
3  S03  80   78   18     18   1반
4  S04  78   75   10     10   2반
5  S05  93   91   12     12   2반
6  S06  71   75   16     16   2반
7  S07  60   80   18     18   3반
8  S08  72   65   14     14   3반
9  S09  65   65   14     14   3반
10 S10  85   78   10     10   3반
11 S11  50   55   12     10   NA

In [75]:
sample_frac(df, 0.2)    # 20% 추출
sample_n(df, 4)         # 4개행 추출
sample_frac(df, 0.2, replace=TRUE)    # 복원추출 방식(추출했던 샘플을 포함해서 추출)
sample_n(df, 4, replace=FALSE)        # 비복원추출 방식(추출했던 샘플을 제외하고 추출)

  학번 중간 기말 리포트 퀴즈 class
1 S08  72   65   14     14   3반
2 S10  85   78   10     10   3반

  학번 중간 기말 리포트 퀴즈 class
1 S03  80   78   18     18   1반
2 S08  72   65   14     14   3반
3 S04  78   75   10     10   2반
4 S02  82   83   18     18   1반

  학번 중간 기말 리포트 퀴즈 class
1 S08  72   65   14     14   3반
2 S10  85   78   10     10   3반

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반
2 S06  71   75   16     16   2반
3 S08  72   65   14     14   3반
4 S04  78   75   10     10   2반

In [76]:
select(df, 학번, 중간)   # df %>% select(학번, 중간)과 동일

   학번 중간
1  S01  90
2  S02  82
3  S03  80
4  S04  78
5  S05  93
6  S06  71
7  S07  60
8  S08  72
9  S09  65
10 S10  85

In [77]:
df <- read.csv("sample_data/df_sample.csv")

class <- c("1반","1반","1반","2반","2반","2반","3반","3반","3반","3반")
df <- cbind(df, class)       # df에 class 열을 추가

df %>% mutate(기말-중간)     # 기말-중간의 값으로 새 열을 추가

   학번 중간 기말 리포트 퀴즈 class 기말 - 중간
1  S01  90   95   20     20   1반    5
2  S02  82   83   18     18   1반    1
3  S03  80   78   18     18   1반   -2
4  S04  78   75   10     10   2반   -3
5  S05  93   91   12     12   2반   -2
6  S06  71   75   16     16   2반    4
7  S07  60   80   18     18   3반   20
8  S08  72   65   14     14   3반   -7
9  S09  65   65   14     14   3반    0
10 S10  85   78   10     10   3반   -7

>>>**05 데이터 전처리**

In [93]:
library(dplyr)      # dplyr 패키지를 로드

In [94]:
df <- read.csv("sample_data/df_sample.csv")

x <- c("1반","1반","1반","2반","2반","2반","3반","3반","3반","3반")       # 벡터 x정의
df$class <- x               # 벡터 x를 값으로 df에 class 파생변수 생성
head(df)

  학번 중간 기말 리포트 퀴즈 class
1 S01  90   95   20     20   1반
2 S02  82   83   18     18   1반
3 S03  80   78   18     18   1반
4 S04  78   75   10     10   2반
5 S05  93   91   12     12   2반
6 S06  71   75   16     16   2반

In [95]:
df <- transform(df, 합계 = 중간+기말)     # 중간+기말을 값으로 df에 "합계" 파생변수 생성
df <- transform(df, 평균 = 합계/2)        # 중간 시험의 평균값으로 df에 "평균" 파생변수 생성
head(df)

  학번 중간 기말 리포트 퀴즈 class 합계 평균
1 S01  90   95   20     20   1반   185  92.5
2 S02  82   83   18     18   1반   165  82.5
3 S03  80   78   18     18   1반   158  79.0
4 S04  78   75   10     10   2반   153  76.5
5 S05  93   91   12     12   2반   184  92.0
6 S06  71   75   16     16   2반   146  73.0

In [96]:
# 중간 시험 점수를 표준화(Z-Score)하여 변환
df_z <- transform(df, 중간scale = scale(df$중간, center=TRUE, scale=TRUE))
head(df_z)

  학번 중간 기말 리포트 퀴즈 class 합계 평균 중간scale
1 S01  90   95   20     20   1반   185  92.5  1.16798784
2 S02  82   83   18     18   1반   165  82.5  0.41444730
3 S03  80   78   18     18   1반   158  79.0  0.22606216
4 S04  78   75   10     10   2반   153  76.5  0.03767703
5 S05  93   91   12     12   2반   184  92.0  1.45056554
6 S06  71   75   16     16   2반   146  73.0 -0.62167094

In [97]:
fmin <- min(df$기말)    # 기말 점수의 최소값
fmax <- max(df$기말)    # 기말 점수의 최대값
df_z <- transform(df, 기말scale = scale(df$기말, center=fmin, scale=fmax-fmin))
head(df_z)

  학번 중간 기말 리포트 퀴즈 class 합계 평균 기말scale
1 S01  90   95   20     20   1반   185  92.5 1.0000000
2 S02  82   83   18     18   1반   165  82.5 0.6000000
3 S03  80   78   18     18   1반   158  79.0 0.4333333
4 S04  78   75   10     10   2반   153  76.5 0.3333333
5 S05  93   91   12     12   2반   184  92.0 0.8666667
6 S06  71   75   16     16   2반   146  73.0 0.3333333

In [98]:
#class를 기준으로 그룹화 하고 그룹의 중간 시험 점수 평균을 구함
aggregate(중간~class, df, mean)

  class 중간
1 1반   84.00000
2 2반   80.66667
3 3반   70.50000

In [99]:
table(df$class)         # class를 기준으로 도수분포표를 작성
prop.table(table(df$class))    # class를 기준으로 상대도수분포표를 작성

1반 2반 3반
  3   3   4

1반 2반 3반
0.3 0.3 0.4

In [100]:
apply(df[2:5], 2, mean)    # df의 2~5열의 평균을 구함 (1은 행방향, 2는 열방향)

  중간   기말 리포트   퀴즈
  77.6   78.5   15.0   15.0

In [101]:
tapply(df$기말, df$class, mean)

     1반      2반      3반
85.33333 80.33333 72.00000

In [102]:
x = c(14,15,13,14,NA,NA,19,11,12,18)    # 결측값이 있는 컬럼 "토론" 추가
df$토론 <- x
is.na(df$토론)          # 토론 열의 결측값이 있는 부분을 TRUE로 표시
sum(is.na(df$토론))     # 토론 열의 NA의 개수 계산
table(is.na(df$토론))   # 토론 열의 결측값의 개수와 결측값이 아닌 개수를 함께 계산

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE

[1] 2

FALSE  TRUE
    8     2

In [103]:
# 결측치가 있는 행을 제거하는 다양한 방법
df_new <- na.omit(df)                     # omit() 함수 사용
df_new <- df[!is.na(df$토론),]            # 조건에 맞는 행 선택
df_new <- filter(df, !is.na(df$토론))     # filter() 함수 사용

In [104]:
d_mean <- mean(df$토론, na.rm=1) # 결측값을 제외한 평균을 구함
# df$토론의 값이 NA이면 평균(d_mean)으로 대체 (평균=14.5)
df$토론 <- ifelse(is.na(df$토론), d_mean, df$토론)

In [105]:
quantile(df$기말, prob=0.25)    # 1사분위수
quantile(df$기말, prob=0.75)    # 3사분위수
df_IQR <- IQR(df$기말)
df_IQR

25%
 75

  75%
82.25

[1] 7.25